* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body {
  background-color: #ddd;
} */
.button {
  padding: 8px 15px !important;
  font-weight: 600 !important;
  text-transform: capitalize !important;
}
a {
  color: #464141;
  text-decoration: none;
}